:root {
    /* Primary colors */
    --primary-h: 200;
    --primary-s: 43%;
    --primary-color-darkest:  hsl(var(--primary-h),var(--primary-s)%, 0%);
    --primary-color-darker: hsl(var(--primary-h), var(--primary-s), 10%);
    --primary-color: hsl(var(--primary-h), var(--primary-s), 20%);
    --primary-color-light: hsl(var(--primary-h), var(--primary-s), 30%);
    --primary-color-lighter: hsl(var(--primary-h), var(--primary-s), 40%);
    --primary-color-lightest: hsl(var(--primary-h), var(--primary-s), 50%);

    /* darkest
    darker
    dark
    light
    lighter
    lightest */



    /* Accent colors */
    --secondary-h: 136;
    --secondary-s: 100%;
    --secondary-color-darkest: hsl(var(--secondary-h), var(--secondary-s), 20%);
    --secondary-color-darker: hsl(var(--secondary-h), var(--secondary-s), 30%);
    --secondary-color-dark: hsl(var(--secondary-h), var(--secondary-s), 40%);
    --secondary-color: hsl(var(--secondary-h), var(--secondary-s), 50%);
    --secondary-color-light: hsl(var(--secondary-h), var(--secondary-s), 60%);
    --secondary-color-lighter: hsl(var(--secondary-h), var(--secondary-s), 70%);
    --secondary-color-lightest: hsl(var(--secondary-h), var(--secondary-s), 80%);

    --accent-red-h: 357;
    --accent-red-s: 100%;
    --accent-red-darkest: hsl(var(--accent-red-h), var(--accent-red-s), 30%);
    --accent-red-darker: hsl(var(--accent-red-h), var(--accent-red-s), 40%);
    --accent-red-dark: hsl(var(--accent-red-h), var(--accent-red-s), 50%);
    --accent-red: hsl(var(--accent-red-h), var(--accent-red-s), 60%);
    --accent-red-light: hsl(var(--accent-red-h), var(--accent-red-s), 70%);
    --accent-red-lighter: hsl(var(--accent-red-h), var(--accent-red-s), 80%);
    --accent-red-lightest: hsl(var(--accent-red-h), var(--accent-red-s), 90%);


    --accent-yellow-h: 55;
    --accent-yellow-s: 94%;
    --accent-yellow-dark: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 20%);
    --accent-yellow-darker: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 30%);
    --accent-yellow-darkest: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 40%);
    --accent-yellow: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 50%);
    --accent-yellow-light: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 60%);
    --accent-yellow-lighter: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 70%);
    --accent-yellow-lightest: hsl(var(--accent-yellow-h), var(--accent-yellow-s), 80%);



    /* Neutral colors */
    --neutral-h: 200;
    --neutral-s: 13%;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --neutral-color-darkest: var(--black);
    --neutral-color-darker: hsl(var(--neutral-h), var(--neutral-s), 40%);
    --neutral-color-dark: hsl(var(--neutral-h), var(--neutral-s), 60%);
    --neutral-color: hsl(var(--neutral-h), var(--neutral-s), 70%);
    --neutral-color-light: hsl(var(--neutral-h), var(--neutral-s), 80%);
    --neutral-color-lighter: hsl(var(--neutral-h), var(--neutral-s), 90%);
    --neutral-color-lightest: var(--white);
}

/* A few snippets from https://frontendmasters.com/blog/the-coyier-css-starter/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    html {
        interpolate-size: allow-keywords;
    }
}